<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-secondary-theme">
                <div class="card-body text-center">
                    <div class="text-theme">All Blog Posts</div>
                    <p>From here you can manage your blog posts.</p>
                    <button type="button" class="btn btn-info bg-them" routerLink="/posts/new">Add New Post</button>
                    <button type="button" class="btn btn-warning ml-2" routerLink="/">Back to Dashboard</button>
                </div>
            </div>
        </div>
    </div>
</div>